@charset "utf-8";

/*布局*/
*{padding: 0; margin: 0; cursor: default}
body{
    color: #F8EAD5;
    font: 14px/1.6 "Open Sans", "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    -webkit-user-select:   none;
}
a{ color: #F8EAD5; text-decoration: none}
#app_wrap{ width: 260px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#694C4D), color-stop(0.2, #6F6058), to(#453836));

    border-radius:3px;
}
#app_head{ padding: 10px 20px; font-size: 20px;}
#app_body{ padding: 0 10px 15px}
#app_foot{}
#app_foot a{ display: block;padding: 5px 0; border-top: 1px dashed #74621C;}
#app_foot a:hover{ background-color: #7A7170; border-radius: 0 0 3px 3px }
#option_btn{text-align: center; cursor: pointer}
#app_option{ display: none; padding: 15px}
#app_option h5{border-bottom: 1px solid #837676; line-height: 25px ; margin-bottom: 10px}
#app_option p{ padding: 5px 0}
#app_option input{border: 1px solid #837676; background: #594949; padding: 3px 0; text-indent: .5em; width: 5em; cursor: auto; color: #FFF}
.logo{ display: inline-block; width: 30px; height: 30px; background: url(icon_30.png) no-repeat 0 0; vertical-align: middle; margin-top: -3px;}

/*group*/
.group{margin-bottom:10px}
.group:after{ clear: both; content: '.'; display: block; height: 0; visibility: hidden;}
.group .col,.group .col_1,.group .col_2,.group .col_3{vertical-align:top;float:left;margin:0 1%;min-height:1px}
.group .col_1{width:30%;word-wrap:break-word;break-word:break-all}
.group .col_2{width:44%}
.group .col_3{width:20%}
.group .col_text{padding-top:10px}
/*行情*/
.rise{ color: #FC9C89
}
.declining{ color: #87DBBA
}

.market_info{ line-height: 25px}
.market_info dl{ clear: both; overflow: hidden; margin-bottom: 10px}
.market_info dl:after{
    display: block;
    height: 0;
    visibility: hidden;
    content: '';
    clear: both;
}
.market_info dl dt{clear: both}
.market_info dl dd{float: left; width: 33.3%; text-align: center; border-left:1px solid rgba(18, 18, 18, 0.18); margin-left: -1px}

.market_info h5{border-bottom: 1px solid #968585}
.market_info p{ padding: 5px 0}
.market_info p b{ display: inline-block; width: 60px}

/*icon*/
.icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:30px;
    color: #F8EAD5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
    vertical-align: top;
}
.icon_btc:before {
    content: "\f15a";
}
.icon_setting{
    background: url(setting.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.icon_arrows{
    width: 9px;
    height: 11px;
    vertical-align: middle;
    margin-top: -2px;
}


.icon_arrows_down,.rise .icon_arrows{
    -webkit-animation:fadeInDown 1s .2s ease infinite normal;
}
.icon_arrows_up,.declining .icon_arrows{
    -webkit-animation:fadeInUp 1s .2s ease infinite normal;
}
.icon_arrows_down,.rise .icon_arrows,.icon_arrows_up,.declining .icon_arrows{
    background-image: url(arrows.png);
    background-repeat: no-repeat;
}
.icon_arrows_down,.rise .icon_arrows{
    background-position: 0 -5px;
}
.icon_arrows_up,.declining .icon_arrows{
    background-position: 0 -16px;
}

/*动画*/
@-webkit-keyframes fadeInDown{
    0%{opacity:0;
        -webkit-transform:translateY(-8px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}

@-webkit-keyframes fadeInUp{
    0%{opacity:0;
        -webkit-transform:translateY(8px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
/*字体*/
@font-face {
    font-family: 'FontAwesome';
    src: url('font/fontawesome-webfont.eot?v=4.2.0');
    src: url('font/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
    url('font/fontawesome-webfont.woff?v=4.2.0') format('woff'),
    url('font/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
    url('font/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('font/OpenSans400.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('font/OpenSans700.woff') format('woff');
}